@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  background: linear-gradient(90deg, rgba(241, 255, 246, 0.86) 0%, rgba(248, 248, 248, 0.86) 101.67%);
  padding: 0;
  font-family: 'lexend';
}

.landing > header > img{
  width: 86px;
  height: 40px;
  margin-top: 36px;
}
.landing{
  width: 1215px;
  margin: 0 auto ;
}
  .landing > header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing > header > div{
  margin-top: 36px;
}
.landing > header > nav{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.landing >header > nav> a{
  text-decoration: none;
  margin-left: 52.5px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #353135;
}
.landing >header > nav> select{
  text-decoration: none;
  margin-left: 52.5px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #353135;
  border: none;
  width: 100px;
  margin-top: -8px;
}
.landing > header > div > a{
  text-decoration: none;
  margin-left: 22.5px;
  padding: 6.5px 52px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 12px;
  border: 2px solid #19CC56;
  color: #19CC56;
  }

.landing header div a:hover{
  padding: 6.5px 42.4px;
}

.landing > header > div > a:hover{
  background: #19CC56;
  color: #ffffff;
  border: 1px solid #19CC56;
}

.home1 img{
  width: 636px;
  height: 832px;
  margin-top: 40px;
}
.home1{
  display:flex;
  flex-direction: row;
  gap: 60px;
}
.home1 .home-text{
  margin-top: 170px;
}
.home1 .home-text .first-text{
  font-size: 64px;
  width: 520px;
  font-weight: 600;
  line-height: 80px;
  color: #353135;
}
.home1 .home-text .second-text{
  margin-top: 24px;
  width: 505px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
  color: #5E5A5E;
}
.home1 .home-text div{
  display: flex;
  flex-direction: row;
  margin-top: 51px;
  gap: 24px; 
}
.home1 .home-text div a{
  padding: 14.5px 22px;
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;  
  line-height: 35px;
  border-radius: 12px;
  border: 2px solid #19CC56;
  color: #19CC56;
}
.home1 .home-text div a:hover{
  padding: 14.5px 18px;
  border: 1px solid #19CC56;
  background: #19CC56;
  color: #ffffff;
}
a img{
  position: relative;
  bottom: 30px;
  left: 541px;
  background: none;
}
a image .active{
  transform: rotate(180deg);
}