@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  /* background: linear-gradient(90deg, rgba(241, 255, 246, 0.86) 0%, rgba(248, 248, 248, 0.86) 101.67%); */
  padding: 0;
  font-family: 'lexend';
}

body{
  background: linear-gradient(90deg, rgba(241, 255, 246, 0.86) 0%, rgba(248, 248, 248, 0.86) 101.67%);
}

.landing > header > img{
  width: 86px;
  height: 40px;
  margin-top: 36px;
  background: none;
}
.landing{
  width: 1215px;
  margin: 0 auto ;
}
  .landing > header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing > header > div{
  margin-top: 36px;
}
.landing > header > nav{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.landing >header > nav> a{
  text-decoration: none;
  margin-left: 52.5px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #353135;
}
.landing >header > nav> select{
  text-decoration: none;
  margin-left: 52.5px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #353135;
  border: none;
  width: 100px;
  margin-top: -8px;
  background: none;
}
.landing > header > div > a{
  text-decoration: none;
  margin-left: 22.5px;
  padding: 6.5px 52px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 12px;
  border: 2px solid #19CC56;
  color: #19CC56;
  }

.landing > header > div > a:hover{
  background: #19CC56;
  color: #ffffff;
  border: 1px solid #19CC56;
}

.home1 img{
  width: 636px;
  height: 832px;
  margin-top: 40px;
}
.home1{
  display:flex;
  flex-direction: row;
  gap: 60px;
}
.home1 .home-text{
  margin-top: 170px;
}
.home1 .home-text .first-text{
  font-size: 64px;
  width: 520px;
  font-weight: 600;
  line-height: 80px;
  color: #353135;
}
.home1 .home-text .second-text{
  margin-top: 24px;
  width: 505px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
  color: #5E5A5E;
}
.home1 .home-text div{
  display: flex;
  flex-direction: row;
  margin-top: 51px;
  gap: 24px; 
}
.home1 .home-text div a{
  padding: 14.5px 22px;
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;  
  line-height: 35px;
  border-radius: 12px;
  border: 2px solid #19CC56;
  color: #19CC56;
}
.home1 .home-text div a:hover{
  border: 1px solid #19CC56;
  background: #19CC56;
  color: #ffffff;
}
.home a img{
  position: relative;
  left: 541px;
  background: none;
  top: 30px; 
}

a image .active{
  transform: rotate(90deg);
}

/* Services page */
.services{
  margin-left: -65px;
  margin-right: -65px;
}

/* what we do */
.services > .what-we-do{
  padding-left: 65px;
  padding-right: 65px;
  background-color: #ffffff;
  margin-top: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.services .what-we-do h3{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
}

.services .what-we-do div{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.services .what-we-do div a .items{
  width: 325px;
  height: 300px; 
  display: block;
  padding: 30px;
  margin-top: 80px;
  /* margin-bottom: 120px; */
  background: linear-gradient(90deg, rgba(241, 255, 246, 0.86) 0%, rgba(248, 248, 248, 0.86) 101.67%);
  box-shadow: 0px 4px 12px rgba(51, 51, 51, 0.1);
  border-radius: 12px;
}

.services .what-we-do div a .items:hover{
  position: relative;
  bottom: 50px;
}

.services .what-we-do div .items img{
  position: relative;
  left: 100px;
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}
.services .what-we-do div a .items h4{
  text-align: center; 
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #353135;
}
.services .what-we-do div a .items p{
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-align: left;
  color: #353135;
}
.services .what-we-do div a{
  text-decoration: none;
}

/* trending books */
.services .trending{
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 65px;
}
.services .trending h3{
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}
.services .trending .t-books{
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  gap: 20px;
}
.services .trending .t-books .t-book .t-img img{
  background: none;
  position: relative;
  width: 152px; 
  height: 236px;
  left: 77px;
  top: 38px;
}
.services .trending .t-books .t-book .t-img1 img{
  background: none;
  position: relative;
  width: 200px; 
  height: 310px;
  left: 50px;
  top: 8px;
}
.services .trending .t-books .t-book .t-img{
  background-color: #E2E2E2B2;
  height: 320px;
}
.services .trending .t-books .t-book .t-img1{
  background-color: #E2E2E2B2;
  height: 320px;
}
.services .trending .t-books .t-book .t-content{
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.1);
  border-radius: 0px 0px 12px 12px;
  height: 144px;
  display: block;
  padding-top: 17px;
}
.services .trending .t-books .t-book .t-content h5{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #5E5A5E;
}
.services .trending .t-books .t-book .t-content h6{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  color: #5E5A5E;
}
.services .trending .t-books .t-book .t-content div{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}
.services .trending .t-books .t-book .t-content div button{
  background-color: #19CC56;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  height: 40px;
  border: none;
}
.services .trending .t-books .t-book{
  width: 315px;
}

.services a img{
  position: relative;
  left: 625px;
  background: none;
  top: 30px; 
}